<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /employee_management/   # Change this if your folder name is different

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
